# Application
NODE_ENV=development
PORT=3000
API_PREFIX=api
API_VERSION=1

# Database (PostgreSQL / Supabase)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/first_choose?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/first_choose?schema=public"

# Supabase Credentials
NEXT_PUBLIC_SUPABASE_URL=https://zcukkjbezciicuryjhil.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_vYfhi9C2oeqazsexb4wFEw_y_R6ZL8d
SUPABASE_SERVICE_ROLE_KEY=

# Redis (Upstash REST & Local Redis)
UPSTASH_REDIS_REST_URL="https://trusting-hare-148025.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAAkI5AAIgcDI5NGU5YWIyMGM0Mzk0MGY2YTczODI0NTE5ODEyMTI0NA"
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET=your_jwt_access_secret_key_here
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
JWT_REFRESH_EXPIRES_IN=30d
